.root {
    -fx-font-family: "Verdana";
}

/* Bottom pane overlay (adjust opacity as needed) */
#bottomPane {
    -fx-background-color: rgb(77, 75, 75);
}

/* Optional: style the divider */
.split-pane-divider {
    -fx-background-color: rgba(0, 0, 0, 0.25);
    -fx-padding: 0.5em;
}

/* ================================
   TEXT FLOW (combat log)
   ================================ */

/* Grey background for the combat log area */
.combat-log {
    -fx-background-color: #3a3a3a;      /* medium grey */
    -fx-padding: 10px;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-border-color: rgba(255, 255, 255, 0.15);
    -fx-border-width: 1px;
}

.move-button {
    -fx-background-radius: 14;
    -fx-border-radius: 14;
    -fx-background-insets: 0;
}

.move-button:hover {
    -fx-opacity: 0.8
}

.move-button:pressed {
    -fx-opacity: 0.6
}


.outlined-text {
    -fx-text-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 1.2;
}

/* Conditional move button background*/
.tipo-hydro {
    -fx-background-color: #00BFFF; /* blue */
}

.tipo-fire {
    -fx-background-color: #FF4500; /* red-orange */
}

.tipo-nature {
    -fx-background-color: #32CD32; /* green */
}

.tipo-lightning {
    -fx-background-color: #FFD700; /* yellow */
}

.combat-bg-normal {
    -fx-background-image: url("/assets/images/backgrounds/normal_fight.jpeg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.combat-bg-elite {
    -fx-background-image: url("/assets/images/backgrounds/elite_fight.jpeg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.combat-bg-boss {
    -fx-background-image: url("/assets/images/backgrounds/boss_fight.jpeg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

/* HP and MP display styles*/
.label-button-like {
    -fx-background-color: #4CAF50;
    -fx-background-radius: 8;
    -fx-padding: 5 10;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-font-size: 24px;
}
